<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>insert page</h1> 
   <form method="post">
       <fieldset>
           <legend>insert data</legend>
           <table>
               <tr>
                   <td>title</td>
                   <td><input type="text" name="title"></td>
               </tr>
               <tr>
                   <td>content</td>
                   <td><input type="text" name="content"></td>
               </tr>
           </table>
           <input type="submit" value="ë“±ë¡">
       </fieldset>
   </form>
</body>
</html>