<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>회원가입</h1> 
   <form method="post">
       <fieldset>
           <table>
               <tr>
                   <td>id</td>
                   <td><input type="text" name="id"></td>
               </tr>
               <tr>
                   <td>pw</td>
                   <td><input type="password" name="pw"></td>
               </tr>
           </table>
           <input type="submit" value="등록">
       </fieldset>
   </form>
</body>
</html>